<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Resona.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Resona.My.MySettings>
            <setting name="CPUHigh" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="CPULow" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="CpuMonitorMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GPUHigh" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="GPULow" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BeforeTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IgnoreCPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupressMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NormalMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TickInterval" serializeAs="String">
                <value>1</value>
            </setting>
        </Resona.My.MySettings>
    </userSettings>
</configuration>
